Dataset Description

Following is a description of different columns in the dataset.


CRIM: per capita crime rate in the vicinity

ZN: amount of residential land reserved in the vicinity.

INDUS: proportion of industrial land reserved nearby (in square kilometers)

RIVERSIDE: If the boundary faces river side (= 1 if tract bounds river; 0 otherwise)

POLINDEX: polution index

RM: number of rooms in the house.

AGE: Age of the property in years.

DIS: weighted distances to the major economic centres (in kilometers)

HIGHWAYCOUNT: Number of highways within 5 KM of distance.

TAX: full-value property-tax rate per 1 lac.

PTRATIO: student-teacher ratio in the vicinity.

IMM: Immigration index in the vicinity.

BPL: % of below poverty line population in the vicinity.

PRICE: Price of the home in lacs, this is the target column.

Note: For numerical type questions, always enter the answer correct upto 3 decimal places without rounding off, unless otherwise stated.

In [53]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Q1. Which dataset are you using for this exam?

In [55]:
df=pd.read_csv('/content/drive/MyDrive/Data/NPPE1_Preprocessing1.csv')
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO

## Q2. How many samples are there in the dataset?

In [56]:
df.shape

(4000, 14)

## Q3. What is the average house price (in lacs)?

In [57]:
df['PRICE'].mean()

24.355923220694248

## Q4. How many houses have 5 or more rooms?

In [58]:
df[df['RM']>=5]

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,4.366543,1.159592,22.230240,1.146936,6.0,96.0,2.332414,6,403.809266,15.810504,354.065893,21.902957,16.375222,NO
3996,9.132894,0.294115,18.741019,0.876901,6.0,100.0,2.509486,24,666.000417,20.548310,394.997535,19.940826,9.565996,NO
3997,0.859468,21.201881,4.098201,1.142168,7.0,102.0,2.187747,7,264.067049,14.606753,392.096041,7.669832,30.106096,NO
3998,0.587681,45.399856,3.706238,1.719303,8.0,22.0,7.631113,6,398.613388,16.722867,378.734812,6.364646,37.403409,NO
3999,5.143827,0.000920,18.599543,0.864198,7.0,89.0,3.720523,24,666.587599,22.423092,392.552040,14.793550,20.204362,NO


## Q5. What is the average price of the top 10 most expensive houses (in lacs)?

In [59]:
df['PRICE'].sort_values(ascending=False)

3726    53.090256
710     52.868842
2154    52.672568
1214    52.444791
2100    52.219151
          ...
3503     7.232754
2632     7.023478
2097     6.962651
3970     6.837622
2108     6.348266
Name: PRICE, Length: 4000, dtype: float64

In [60]:
df['PRICE'].sort_values(ascending=False)[:10].mean()

52.36590175716407

## Q6. What is the total number of missing or unknown values in the number of rooms feature?


(Hint: carefully look at the values the feature takes and find out implausible value.)

In [61]:
df['RM'].unique()

array([ 6.,  7.,  8.,  9., 10., -1.,  5.,  4., 11.])

In [62]:
df['RM']=df['RM'].replace(-1 , np.nan)

In [63]:
df['RM'].isnull().sum()

40

## Q7. What is the total number of missing or unknown values in the age feature?


(Hint: carefully look at the values the feature takes and find out implausible value.)

In [64]:
df['AGE'].unique()

array([ 42.,  63.,  -2.,   9.,  20.,  95.,  35.,  97.,  36.,  78.,  99.,
        96.,  19.,  73.,  86.,  37.,  76.,  50.,  32.,  92., 101.,   8.,
        94.,  84.,  47.,  43.,  65.,  46.,  59.,  74.,  93.,  80.,  98.,
       102.,  56., 100.,  89.,  53.,  18.,  71.,  62.,  83.,  66.,   7.,
        77.,  91.,  90.,  58.,  57.,  60.,  87.,  75.,  34.,  85.,  48.,
        33.,  38.,  30.,  23.,  55.,  11.,  14.,  45.,  41.,  88.,  16.,
        12.,  79.,  67.,  39.,  49.,  61.,  70.,  54.,  10.,  22.,  72.,
        15.,  51.,  81.,  31.,  52.,  44.,  28.,  17.,  40.,  29.,  69.,
        64.,  24.,  82.,  26.,  68.,  27.,  13., 103.,  21.,  25.,   6.,
         5.,   3.,   4.])

In [65]:
df['AGE']=df['AGE'].replace(-2, np.nan)

In [66]:
df['AGE'].isnull().sum()

50

## Q8. What is the total number of missing or unknown values in the RIVERSIDE feature?

(Hint: carefully look at the values the feature takes and find out implausible value.)

In [67]:
df['RIVERSIDE'].unique()

array(['NO', 'UNKNOWN', 'YES'], dtype=object)

In [68]:
df['RIVERSIDE']=df['RIVERSIDE'].replace('UNKNOWN', np.nan  )

In [69]:
df['RIVERSIDE'].isnull().sum()

88

## Q9. How many houses are on riverside and were built within the last 50 years (i.e. a house 50 years old or younger)? For this question, ignore the rows that have missing values in either riverside feature or age feature.

In [70]:
df[(df['AGE']<=50) & (df['RIVERSIDE']=='YES')].replace(-2, np.nan).dropna().shape

(44, 14)



## Q10. How many houses are near to exactly 6, 7 or 8 highways (all three inclusive)?

In [71]:
df[(df['HIGHWAYCOUNT']==6) | (df['HIGHWAYCOUNT']==7) | (df['HIGHWAYCOUNT']==8)]

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
6,0.649502,96.496960,3.016816,0.976858,9.0,35.0,5.138501,6,224.451415,15.696717,392.988429,4.462663,49.868745,NO
8,0.413350,1.059814,6.459012,0.804208,6.0,36.0,6.524673,7,224.715116,21.605354,397.509751,8.015029,22.566385,NaN
10,3.304369,0.490087,20.062733,2.278768,6.0,99.0,1.391987,6,403.100369,15.056411,397.195045,30.285161,12.264939,NaN
11,1.656863,0.263417,22.617375,1.605176,6.0,96.0,2.691196,6,437.463750,21.591753,398.755804,18.370540,16.063960,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988,0.402687,0.280354,22.953898,1.150443,8.0,100.0,3.079690,6,439.210287,21.403742,395.072183,13.064814,20.140415,NO
3991,1.749921,0.806769,9.269527,0.722585,7.0,97.0,2.592560,6,384.099179,21.808936,394.892181,17.198070,20.353583,NO
3995,4.366543,1.159592,22.230240,1.146936,6.0,96.0,2.332414,6,403.809266,15.810504,354.065893,21.902957,16.375222,NO
3997,0.859468,21.201881,4.098201,1.142168,7.0,102.0,2.187747,7,264.067049,14.606753,392.096041,7.669832,30.106096,NO
3998,0.587681,45.399856,3.706238,1.719303,8.0,22.0,7.631113,6,398.613388,16.722867,378.734812,6.364646,37.403409,NO

Create a column 'CATEGORY' and divide the houses in categories as following:

Category 1: house price <10 lacs

Category 2: 10 lacs <= house price <20 lacs

Category 3: 20 lacs <= house price <30 lacs

Category 4: 30 lacs <= house price <40 lacs

Category 5: house price >=40 lacs

## Q11. Which category has the highest number of records?

In [72]:
df['CATEGORY']=df['PRICE'].apply(lambda x:
                  'Category 1' if  x < 10 else
                  'Category 2' if 10 <= x < 20 else
                  'Category 3' if 20 <= x < 30 else
                  'Category 4' if  30 <= x < 40 else
                  'Category 5')

In [73]:
df.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE,CATEGORY
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO,Category 3
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO,Category 3
2,10.925905,0.441022,18.322960,2.824833,8.0,NaN,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO,Category 2
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO,Category 3
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO,Category 3

In [74]:
df['CATEGORY'].value_counts()

CATEGORY
Category 3    2028
Category 2    1158
Category 4     503
Category 5     268
Category 1      43
Name: count, dtype: int64

Apply Pre processing

Divide the data into training and test sets


1. Replace the respective missing or unknown values in features room count, riverside and age with np.nan.

2. Keep 30% of the data as test set.

3. Use random_state as 0

4. PRICE is the target, rest of the columns are the features.

5. Apply train test split.

Hint: look for the documentation of the usual function that divides the data into training and test datasets.

In [75]:
df.isnull().sum()

CRIM             0
ZN               0
INDUS            0
POLINDEX         0
RM              40
AGE             50
DIS              0
HIGHWAYCOUNT     0
TAX              0
PTRATIO          0
IMM              0
BPL              0
PRICE            0
RIVERSIDE       88
CATEGORY         0
dtype: int64

In [76]:
X=df.drop(columns=['PRICE'])

In [77]:
X.head()

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,RIVERSIDE,CATEGORY
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,NO,Category 3
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,NO,Category 3
2,10.925905,0.441022,18.322960,2.824833,8.0,NaN,2.409495,25,666.492973,20.351601,387.061355,19.366070,NO,Category 2
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,NO,Category 3
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,NO,Category 3

In [78]:
y=df.loc[:,'PRICE']

In [79]:
y.head()

0    22.991633
1    24.551055
2    15.875346
3    23.007756
4    21.503177
Name: PRICE, dtype: float64

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=0, test_size=0.3)

## Q12. What is the number of samples in the training set?

In [81]:
X_train.shape

(2800, 14)

Apply following preprocessing steps:


1. Drop CATEGORY column
2. CRIM: min max scaling
3. ZN: min max scaling
4. INDUS: standard scaling
5. POLINDEX: min max scaling
6. DIS: min max scaling
7. HIGHWAYCOUNT: min max scaling
8. TAX: min max scaling
9. PTRATIO: min max scaling
10. IMM: min max scaling
11. BPL: min max scaling
12. RM: impute with median then min max scaling
13. AGE: impute with mean then min max scaling
14. RIVERSIDE: Impute with most frequent value then one hot encode.

NOTE:
1. Make sure to preprocess the features in exactly above order. Answer of Q.16 depends upon correct order of featuring processing.
2. You may have to use multiple instances of a trasnformer for this question.

In [82]:
X_train=X_train.drop(columns=['CATEGORY'])

In [83]:
X_test=X_test.drop(columns=['CATEGORY'])

In [84]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [85]:
col= ColumnTransformer([
    ('crim', MinMaxScaler(), ['CRIM']),
    ('zn', MinMaxScaler(), ['ZN']),
    ('indus', StandardScaler(),['INDUS']),
    ('polindex', MinMaxScaler(),['POLINDEX']),
    ('dis', MinMaxScaler(),['DIS']),
    ('highwaycount', MinMaxScaler(),['HIGHWAYCOUNT']),
    ('tax', MinMaxScaler(),['TAX']),
    ('ptratio', MinMaxScaler(),['PTRATIO']),
    ('imm', MinMaxScaler(),['IMM']),
    ('bpl', MinMaxScaler(),['BPL']),
    ('rm', Pipeline([
                ('impute', SimpleImputer(strategy='median')),
                ('scaler', MinMaxScaler())
                              ]), ['RM']),
    ('age', Pipeline([
        ('impute', SimpleImputer(strategy='mean')),
        ('scaler', MinMaxScaler())
                     ]), ['AGE']),
    ('riverside', Pipeline([
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehotencode',OneHotEncoder())
                     ]), ['RIVERSIDE'])
])

## Q13. How many features are there after performing above transformation?

In [86]:
col.fit_transform(X_train).shape

(2800, 14)


## Q14. What is the mean of the transformed test data (features only)?

Note : Compute the mean of the whole feature matrix i.e. mean of all values in the transformed test feature matrix

In [87]:
col.transform(X_test).mean()

0.3861745655097562